.container {

  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
  }

  a,
  span {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #f5ee32;
    opacity: 0.9;
    transition: 0.25s ease;
    position: relative;
  }
}

.sessionWrapper {
  width: 100%;
  max-width: 900px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: flex;
  overflow: hidden;
  height: 0px;
  justify-content: center;

  animation: slideOut 0.25s;
  transition: 0.25s ease-in-out;

  @keyframes slideOut {
    0% {
      height: 42px;
      transform: scaleY(1);
    }

    100% {
      height: 0px;
      transform: scaleY(0);
    }
  }
}

.headerContact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 72px;
  background-color: rgba(0, 0, 0, 1);
  animation: slidein 0.25s;
  transition: 0.25s ease-in-out;
  padding: 10px;

  a,
  span {
    font-size: 12px;
    font-family: Roboto;

    @media (max-width: 600px) {
      font-size: 12px;
    }
  }

  @keyframes slidein {
    from {
      transform: scaleY(0);
    }
  }

  @media (max-width: 500px) {
    height: 62px;
  }
}

.headerMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.25s ease-in-out;

  a {
    font-size: 10px;
  }

  a:hover {
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background: #f5ee32;
      left: 0;
      bottom: 0;
      margin-bottom: -4px;
      transition: ease-in 0.25s;
      animation: showAnimation 0.25s;

      @keyframes showAnimation {
        0% {
          width: 0px;
        }

        100% {
          width: 20px;
        }
      }
    }
  }
}

.bgDark {
  background-color: rgba(0, 0, 0, 0.9);
}

.boxFlex {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dotSpace {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
  margin-top: 4px;

  @media (max-width: 500px) {
    display: none;
  }
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;

  @media (max-width: 415px) {
    margin-left: 0;
  }
}

.titleLogo {
  color: white;
  padding-left: 0.4rem
}