.container {
  color: black;
  display: flex;
  justify-content: center;
}


.aboutCeo {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -50px;
}

.wrapperRadius {
  display: flex;
  justify-content: center;
  max-height: 240px;
  max-width: 900px;
  overflow: hidden;
  border-radius: 0.25rem;

  @media (max-width: 600px) {
    max-height: 100%;
  }
}

.boxHalf {
  width: 50%;
  padding: 16px 20px 20px;
  background-color: rgba(245, 239, 50, 0.9);

  span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #2ea2cc;
  }

  @media (max-width: 600px) {
    width: calc(100% - 20px);
  }
}

.boxHalfImage {
  width: 50%;

  @media (max-width: 600px) {
    display: none;
  }
}

.wrapperActing {
  max-width: 900px;
  padding: 240px 20px 20px;


  center {
    position: relative;
    margin-bottom: 60px;

    &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      bottom: 0;
      margin: 0 0 -20px -50px;
      background-color: black;
    }
  }

  center>span {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #bbbbbb;
  }

  center>h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: none;
    color: #161616;
    position: relative;
    margin-top: -2px;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 0.1rem;
    transition: ease-in 0.25s;

    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    background: #f5ee32;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      color: white;
      border: 1px solid #f5ee32;
    }
  }
}

.wrapperCards {
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/imagesforprojects-16518.appspot.com/o/tingey-injury.jpg?alt=media&token=9235e409-16f4-475e-b64f-acbbba6a7be4");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

.wrapperCardInfo {
  width: calc(100% / 2);
  min-height: 314px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;

  color: white;
  background-color: rgba(0, 0, 0, 0.8);

  @media (max-width: 600px) {
    width: 100%;
  }
}

.wrapperAnimation {
  padding-bottom: 20px;

  p {
    min-height: 120px;
  }
}