@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.container {
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;

  section {
    min-height: 100vh;
  }
}

.presentations {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/imagesforprojects-16518.appspot.com/o/lady-justice-1920.png?alt=media&token=1be7ad1d-54fa-46d9-b231-a670b9273668");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 50px;
  z-index: 0;

  @media (max-width: 600px) {
    background-position-x: -210px;
  }
}

.menuFixed {
  width: 100%;
  position: fixed;
  z-index: 3;
}

.resume {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  div {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 40px;
  }

  h5 {
    color: grey;
    margin-bottom: 4px;
  }

  span {
    font-weight: 700;
  }

}