.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
  width: 100%;
  min-height: calc(100vh + 100px) !important;
}

.boxAbout {
  max-width: 600px;
  padding: 0 20px;
  text-align: center;

  h1,
  h3 {
    font-style: normal;
    font-weight: 700;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 16px;
    transition: ease-in 1s;
    animation: showTitle 1s;
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    transition: ease-in 1s;
    animation: showSubTitle 1.5s;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    transition: ease-in 1s;
    animation: showDescription 3s;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 0.1rem;

    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    background: #f5ee32;
    animation: showButtonContact 3s;
    transition: ease-in 0.25s;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      color: white;
      border: 1px solid #f5ee32;
    }
  }

  @keyframes showTitle {
    0% {
      opacity: 0;
      transform: translateY(2ch);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes showSubTitle {
    0% {
      opacity: 0;
      transform: translateY(4ch);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes showDescription {
    0% {
      opacity: 0;
      transform: translateY(8ch);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes showButtonContact {
    0% {
      opacity: 0;
      transform: translateY(16ch);
    }

    100% {
      transform: translateY(0);
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }
  }


}

.arrowDown {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 40px 140px 0;

  a {
    color: rgba(255, 255, 255, 0.4);
  }
}